body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.mainSection {
    display: flex; 
    flex-direction: column; 
    margin: 0 auto;
    width: 100%;
    max-width: 37.5em; 
    border: 1px solid rgb(200,204,210);
    padding: 30px 30px;
    border-radius: 12px;
    box-sizing: border-box;
}

#form-section {
    flex-grow: 1; 
}


.container {
    background-color: rgb(244,244,244);
    padding: 25px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgb(200 204 210);
    box-sizing: border-box;
    max-width: 37.5em; 
}

select, input {
    display: block;
    margin: 12px 0;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

#addMemberBtn {
    background-color: rgb(38, 47, 77);
    color: #fff;
}

.remove-btn {
    background: red;
    color: #fff;
}

#summary {
    display: block; 
    margin-top: 20px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    width: 100%;
    max-width: 37.5em; 
    border: 1px solid #c8ccd2;
    box-sizing: border-box;
}

table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    text-align: center; 
    border: 2px solid #c8ccd2;
}

th {
    background-color: #e0e1e7;
    font-weight: bold;
}

td {
    background-color: #f0f1f3;
}

tfoot td {
    font-weight: bold;
    background-color: #e0e1e7;
    padding: 16px;
    border: 2px solid #c8ccd2;
}

tfoot td:first-child {
    text-align: left; 
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.option-item {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1%;
    color: rgb(83, 83, 83);
    font-weight: bold;
    padding: 0;
}

.option-item label {
    max-width: 31.125em;
    margin-left: 1em;
}

input[type="checkbox"] {
    width: auto;
} 

.checkboxesField, .inputsField, .mandatoryCheckbox {
    margin-bottom: 5%;
}

.inputsField {
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
}

#submitButton {
    background-color: rgb(49, 64, 118);
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

#mandatoryCheckBoxParagraph {
    text-align: center;
}

@media (max-width: 768px) {
    .mainSection, .container, #summary {
        width: 100%;
        padding: 15px;
    }
    
   
}
.summary-table {
    margin-bottom: 20px; 
}
.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.checkbox-label input {
    margin-right: 10px; 
}

.btn {
    padding: 10px 20px; 
    font-size: 16px; 
    margin-bottom: 1%;
}
.btn-primary { 
    color: white;
    border: none;
    border-radius: 5px; 
}
.btn-danger {
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 5px; 
}

.btn:hover {
    opacity: 0.9; 
}