body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}
.mainSection{
    margin: 0 auto;
    width: 700px;
    border: 1px solid rgb(200,204,210);
    justify-items: center;
    padding: 20px 20px;
    border-radius: 12px;
}
.container {
    background-color: rgb(244,244,244);
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    margin-bottom: 20px;
    border:1px solid rgb(200 204 210)

}
select, input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input{
    width: 97%;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#addMemberBtn {
    background-color: rgb(13,17,31);
    color: #fff;
}
.remove-btn {
    background: red;
    color: #fff;
}
#summary {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    width: 600px;
    max-width: 600px;
    border: 1px solid #c8ccd2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th, td {
    padding: 12px;
    text-align: center; 
    border: 2px solid #c8ccd2;
}

th {
    background-color: #e0e1e7;
    font-weight: bold;
}

td {
    background-color: #f0f1f3;
    
}


tfoot td {
    font-weight: bold;
    background-color: #e0e1e7;
    padding: 14px;
    border: 2px solid #c8ccd2;
}

tfoot td:first-child {
    text-align: left; 
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.option-item {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1%;
    color: rgb(83, 83, 83);
    font-weight: bold;
    padding: 0;
}

.option-item label {
    max-width: 530px;
}
input[type="checkbox"] {
    width: 10%;
    
} 
.checkboxesField, .inputsField,.mandatoryCheckBox{
    margin-bottom: 5%;
}
.inputsField{
    width: 560px;
    justify-self: center;
}
input[type='submit']{
    background-color: rgb(40, 55, 110);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}